{% extends 'expolink/base.html' %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<link href="https://cdn.bootcss.com/Swiper/4.3.0/css/swiper.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js"></script>

<script>

    crt_page_name='index'
    //    page_data={
    //        slogan:'3D/VR预先呈现会展效果，大数据精准分析办展成果。'
    //    }
</script>


<style>
    .swiper-container {
        /*width: 500px;*/
        /*height: 300px;*/
        /*margin: 20px auto;*/
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

    }

</style>

<script>
    $(function(){
        new Vue({
            el:'#there'
        })
    })
</script>

<style>

</style>

<div id="there" class="wrap" style="position: relative">
    <img style="position: absolute;top:-60px;right: 40px;z-index:100" src="/static/home/6.png" alt=""/>

        <img src="/static/home/5.png" alt="" width="100%"/>
        <img src="/static/home/5_1.png" alt="" style="position: absolute;top:-30px;left:15%;transform: scale(0.7,0.7)"/>
    <div style="position: absolute;top:5em;left: 3em;color: white">
        <h2>展会成果可视化</h2>
        <h6 style="position: relative;left: 4em;top:-2em;">EXHIBITION RESULTS VISUAUZATION</h6>
    </div>

    <div style="position: absolute;top:-1em;right: 8em;color: white">
        <h6 style="position: relative;left: -4em;bottom: -2em;">BIG DATA &nbsp; PRECISE ANALYSIS</h6>
        <h2>大数据精准分析</h2>
    </div>


    <div  style="height: 500px">
        <com-img-group style="position: absolute;top:160px;right:46em;transform: scale(0.7,0.7)"
                       front-img="static/home/2.png">
            <slot><a href="/p/vr"><h3 style="position: absolute;left: 10px;top: 200px;width: 4em;color: white;">V R<br>展馆 > </h3></a></slot>
        </com-img-group>

        <com-img-group style="position: absolute;top:460px;left:5%;transform: scale(0.7,0.7)"
                       front-img="static/home/1.png">
            <slot><a href="/p/3d"><h3 style="position: absolute;left: 10px;top: 200px;width: 4em;color: white;">产品<br>3 D > </h3></a></slot>
        </com-img-group>
        <div style="width: 17em;height:18em;background-color: rgba(224, 224, 224, 0.9);
            position:absolute;bottom: 18em;right: 4em;">
            <h5 style="position: absolute;top:-3.4em;left: 0.3em;">展讯 ></h5>
            <div style="padding: 3em 0.6em;">
                <div>准备开发双冠上双攻算双工地是算个 </div>
                <div>双工噶酸算个阿斯顿噶酸觥纶</div>
                <div>s送胜算算个算觥算觥算觥算个 </div>
            </div>
        </div>
        <img style="position: absolute;top:0;left:0;z-index:-100;height: 1100px" src="/static/home/10.png" alt="" width="100%" style="margin: 0;padding: 0"/>
    </div>

    <div style="position: relative;margin-top: 20px">
        <img src="/static/home/4.png" alt="" width="100%">
        <img src="/static/home/4_2.png" alt="" style="position: absolute;left: 20px;bottom: 10px">
        <a href="/p/fullscreen"><h4 style="position: absolute;left:60px;bottom: 6px;width: 4em;color: white;">全景<br>现场 > </h4></a>
    </div>


</div>


<script>

</script>

</body>
{% endblock %}