{% extends 'expolink/base.html' %}
{% load static %}
{% load jsonify %}

{% block page_content %}

<script>

    crt_page_name='zhanxun'

    rows = {{ rows | jsonify }}
    //    page_data={
    //        slogan:'3D/VR预先呈现会展效果，大数据精准分析办展成果。'
    //    }
</script>


<style>


</style>

<script>
    $(function(){
        new Vue({
            el:'#there',
            data:{
                rows:rows,
            }
        })
    })
</script>
<style>
    .card{
        width: 800px;
        margin: auto;
        display: flex;
        margin-top: 20px;
        background-color: white;
        padding: 1em;
    }
    .card .item{
        padding-left: 1em;
    }

</style>

<div id="there" class="wrap" style="height: 100%;padding-top: 50px">
    <div v-for="row in rows" class="card">
        <div>
            <img :src="row.cover" alt="" width="100px"/>
        </div>

        <div class="item">
            <h4  v-text="row.title"></h4>
            <div v-text="row.abstract"></div>
            <a :href="'/p/zhanxun2/?id='+row.id">详细</a>
        </div>

    </div>

</div>


<script>

</script>

</body>
{% endblock %}